.resetpw-bg {
  min-height: 100vh;
  background: #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.resetpw-container {
  background: #fff;
  padding: 2.5rem 2rem;
  border-radius: 22px;
  box-shadow: 0 4px 20px #0001;
  min-width: 345px;
  width: 100%;
  max-width: 350px;
  text-align: center;
}

.resetpw-logo {
  width: 48px;
  margin-bottom: 10px;
}
.resetpw-title {
  font-weight: 800;
  color: #d7a78f;
  margin-bottom: 8px;
}
.resetpw-message {
  color: #d7a78f;
  font-size: 15px;
  margin-bottom: 24px;
}
.resetpw-input {
  width: 100%;
  padding: 12px;
  margin: 10px 0 18px 0;
  border: 1px solid #d7a78f;
  border-radius: 12px;
  outline: none;
  font-size: 16px;
  background: #faf9f8;
  transition: border-color 0.3s;
}
.resetpw-input:focus {
  border-color: #d7a78f;
}
.resetpw-error {
  background: #ffeaea;
  color: #fa5858;
  padding: 9px 0;
  border-radius: 9px;
  font-size: 14px;
  margin-bottom: 12px;
  border: 1px solid #fa585866;
}
.resetpw-success {
  background: #d7a78f;
  color: #d7a78f;
  padding: 9px 0;
  border-radius: 9px;
  font-size: 15px;
  margin-bottom: 12px;
  border: 1px solid #ce9273;
}
.resetpw-btn {
  width: 100%;
  padding: 12px 0;
  background: #d7a78f;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 2px 8px #d7a78f;
  margin-top: 6px;
  transition: background 0.2s;
}
.resetpw-btn:disabled {
  background: #d7a78f;
  cursor: not-allowed;
}
.resetpw-back {
  margin-top: 30px;
}
.resetpw-back a {
  color: #143969;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
}
